<label for="email">Email:</label>
<input type="text" name="user[email]" tabindex="1" value="<%= @user.try(:email) %>">

<%= erb :'/users/_username_and_password' %>

<label for="email">Google Sheets URL:</label>
<input type="text" name="user[google_sheets_code]" tabindex="1" value="<%= @user.try(:google_sheets_code) %>">
