<div>
<label for="username">Username:</label>
<input type="text" name="user[username]" tabindex="1" value="<%= @user.try(:username) %>">
</div>
<div>
<label for="password">Password:</label>
<input type="password" name="user[password]" tabindex="1">
</div>
