<main class="hg__profile info">
  <h1>Welcome</h1>
</main>
<div class="hg__main info">
  <h2>create a profile now</h2>
</div>
<div class="hg__content" id="show-info">
<div class="info">
  <%= erb :'_info' %>
</div>
</div>
