<h1>Google Sheet</h1>
<form class="" action="/users/show" method="post">
  <input type="text" name="code">
  <input type="submit" name="submit">
</form>

<h3>input 1</h3>
<p>1R82LNKBGnw_q6pNM9kW7RAS3ZAecUN6GLgBbuCZBCY8</p>
<br>
<h3>input 2</h3>
<p>1q4e2f7YUhaD1Pvk7vHSoT6QDKS5CU4uwBzjD_M4HGuU</p>
