<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Profile View</title>
</head>
<body>
  <header>
  </header>
  <div>

    <%= yield %>

  </div>
</body>
<footer>
  <div>
    <nav>
      <ul>
        <% if current_user %>
          <li><a href="/users/<%=current_user.id%>"><%= current_user.username %></a></li>
          <li><a href="/users/<%=current_user.id%>/edit">edit</a></li>
          <li><a href="/logout">logout</a></li>
        <% else %>
          <li><a href="/">home</a></li>
          <li><a href="/login">login</a></li>
          <li><a href="/users/new">register</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</footer>
</html>
