<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Profile View</title>
</head>
<body class="hg">
  <header class="hg__header">

  </header>
    <aside class="hg__nav">
      <nav class="dropdown">
        <button class="dropbtn">=</button>
        <div class="dropdown-content">
          <% if current_user %>
          <p><a href="/users/<%=current_user.id%>">My Profile</a></p>
          <p><a href="/users/<%=current_user.id%>/edit">Edit</a></p>
          <p><a href="/logout">Logout</a></p>
          <% else %>
          <p><a href="/">Home</a></p>
          <p><a href="/login">Login</a></p>
          <p><a href="/users/new">Register</a></p>
          <% end %>
        </div>
      </nav>
    </aside>
    <aside class="hg__side"></aside>
<%= yield %>

</body>
<div class="hg__right">

</div>
<footer class="hg__footer">

</footer>
</html>
